
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	background-color: #f9f9f9;
	color: #000000;
}
em {
	font-weight: bolder;
}
h1,
h2,
h3 {
	font-family: 'Libre Baskerville', serif;
}
h4 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 2.5rem;
	font-weight: bolder;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
}
h2 {
	font-size: 2rem;
	font-weight: bold;
}
h3 {
	font-size: 1.5rem;
	font-weight: bold;
}
h4 {
	font-size: 1rem;
	font-weight: bold;
}
section {
  display: flex;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
	justify-content: center;
	border-radius: 2px;
	align-items: center;
	line-height: normal;
	background-color: #FFFEFC;
	color: #404040;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}
dialog {
	word-break: keep-all;
	animation: appear 350ms ease-in 1;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	animation: appear 350ms ease-in 1;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 15px rgba(0, 0, 0, 0.2);
	padding: 2.5%;
	border-radius: 2px;
	border: none;
	z-index: 2;
	text-indent: 0.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(255, 255, 255, 1);
	height: 30%;
	width: 35%;
	transform: translate(-50%, -50%)
}
dialog h3 {
	text-align: center;
}
dialog div {
	margin-left: auto;
}
dialog label {
	margin-right: 5px;
	font-weight: bold;
	cursor: pointer;
	background-color: #ff4081;
	color: #fff;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	height: 1rem;
	border-radius: 2px;
	border: none;
	transition: background-color .3s;
}

/* classes  */
.headercard {
	display: fixed;
  height: 35vh;
  display: flex;
  justify-content: center;
	background: linear-gradient(90deg, #303f9f, #7b1fa2);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}
.plus-btn,
.minus-btn {
	margin-right: 5px;
	font-weight: bold;
	cursor: pointer;
	background-color: #ff4081;
	color: #fff;
	padding: 0.2rem 1rem 1.2rem 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
	height: 1rem;
	border-radius: 2px;
	border: none;
	transition: background-color .3s;
}
.changed {
  border: 1px dashed #ff4081;
  border-radius: 3px;
}

#stocklist {
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
article {
  display: flex;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 1vh;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
}
.headercard > h1 {
  color: #fff;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2vh;
}
#toggle {
	visibility: hidden;
	opacity: 0;
	position: relative;
	z-index: -1;
}
#toggle:checked ~ dialog {
	display: none;
}
.red {
	font-weight: bolder;
	color: red;
}
.green {
	font-weight: bolder;
	color: green;
}
.price {
  box-sizing: content-box;
  width: 200px;
}
.price-item {
  margin-right: 5px;
}
