@font-face{
  font-family:Kreon;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(https://fonts.gstatic.com/s/kreon/v21/t5t9IRIUKY-TFF_LW5lnMR3v2DnvYtiWfT8b.ttf) format('truetype')
}
@font-face{
  font-family:'Libre Baskerville';
  font-style:normal;
  font-weight:400;
  font-display:swap;src:local('Libre Baskerville'),local('LibreBaskerville-Regular'),url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;
  font-display:swap;
  src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype')
}

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    background-color: #f9f9f9;
    color: #000;
    overflow: scroll;
    overflow-x: hidden
  }
  ::-webkit-scrollbar {
    width: 3px
  }
  ::-webkit-scrollbar-thumb {
    background: #000
  }
  h1,
  h2,
  h3 {
    font-family: "Open Sans", serif
  }
  h4 {
    font-family: "Open Sans", sans-serif
  }
  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3)
  }
  h2 {
    font-size: 2rem;
    font-weight: 700
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700
  }
  h4 {
    font-size: 1rem;
    font-weight: bolder
  }
  section {
    padding: 1%;
    display: flex;
    margin: 1vh, 10vw, 1vh, 10vw
    justify-content: center;
    border-radius: 2px;
    align-items: center;
    line-height: normal;
    background-color: #fffefc;
    color: #404040;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2)
  }
  #display {
    text-indent: 1rem;
    flex-direction: column;
    padding-right: 2.5%;
    padding-left: 2.5%;
    font-size: medium
  }
  .headercard {
    display: fixed;
    height: 20vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #303f9f, #7b1fa2)
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh
  }
  footer a {
    text-decoration: none;
    color: #404040;
    padding-right: 2rem;
    padding-bottom: .5rem
  }
  footer a:hover {
    color: #000
  }
  .changed {
    border: 1px dashed #ff4081;
    border-radius: 3px
  }
  #stocklist {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row
  }
  #stocklist>div {
    display: flex;
    flex-direction: row;
    margin: .5%;
    line-height: 2
  }
  #stocklist>div>div {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    flex-direction: column
  }
  #stocklist>div>div>* {
    display: flex;
    flex-direction: column
  }
  #stocklist input {
    width: 2.5rem;
    background-color: #fffefc;
    border: none;
    text-align: center;
    padding: 1%
  }
  header {
    list-style: none;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, .95)
  }
  .headercard>h1 {
    color: #fff;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2vh
  }
  .red {
    font-weight: bolder;
    color: red
  }
  .green {
    font-weight: bolder;
    color: green
  }
  .price {
    font-size: small
  }
